#!/bin/bash

### install items in bundle file if bundle file has changed

# nanofile hash: {{ joinPath .chezmoi.sourceDir "Nanobrew" | include | sha256sum }}
nb bundle install {{ joinPath .chezmoi.sourceDir "Nanobrew" }}
